body{
    background-image: url('../img/Fondo.jpg');
    min-height: 100svh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar{
    background-color: transparent;
    border: white 3px solid;
    border-radius: 10px;
}

.nav-link{
    color: white !important;
    font-family: 'Robot', sans-serif;
    font-weight: 100;
    font-size: 1.2rem;
}

.navbar-toggler{
    border-color: white;
}

.favorite-title{
    text-align: center;
    margin-top: 4.2rem;
    color: white;
    font-family: 'Robot', sans-serif;
}

.add-button{
    display: block;
    margin: 0 auto;
    margin-top: 2svh;
    padding: 10px 20px;
    font-size: 1.5rem;
    color: white;
    background-color: #16375A;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Antont', sans-serif;
}


#formularioAgregar {
    display: flex;
    justify-content: center;
    margin: 40px 0;       
    padding: 0 15px;
}


.form-container {
    width: 100%;
    max-width: 420px;
    background: rgba(10, 30, 60, 0.85);
    backdrop-filter: blur(6px);
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.1);
}


.form-container > button {
    width: 100%;
    padding: 12px;
    background-color: transparent;
    border: white 2px solid;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.form-container > button:hover {
    transform: translateY(-2px);
}


#form label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    color: #dbe7ff;
    font-weight: 500;
}


#form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    border-bottom: white 2px solid;
    font-size: 14px;
}


#form button {
    width: 100%;
    padding: 11px;
    background-color: transparent;
    border: white 2px solid;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;

}

.form-control{
  color: white;
}

#tablaContactos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    font-family: Arial, sans-serif;
    
}
#tablaContactos th, #tablaContactos td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    background-color: transparent;
    color: white;
}

#tablaContactos button {
    border: none;
    padding: 6px 10px;
    margin: 2px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.85rem;
    transition: all 0.2s ease;
}

button[onclick^="editar"] {
    background-color: #3b82f6;
    color: white;
}

button[onclick^="eliminar"] {
    background-color: #ef4444;
    color: white;
}

button[onclick^="toggleFavorito"] {
    background-color: transparent;
    color: black;
}




















